body{
  background-image: url('https://33.media.tumblr.com/e10995d6b5cb02611ef3daf83d2e4e2c/tumblr_mnu29epECi1rfjowdo1_500.gif');
  background-repeat: no-repeat;
  background-size: 120%;
  height: auto;
  background-color: #FAAFBA;
}

.boba {
 background-image: url('http://fc01.deviantart.net/fs71/f/2012/002/c/e/bubble_tea_animation_avatar_by_loconut1-d4l41m0.gif');
  width: 50px;
  height: 100%;
  left: 1070px;
  position: absolute;
}

#karina {
  background-image: url('/img/karina.png');
  background-size: 250px auto;
  height: 300px;
  width: 250px;
  position: absolute;
}

#stef {
  background-image: url('/img/stef.png');
   background-size: 250px auto;
  height: 300px;
  width: 250px;
  position: absolute;
}

#arena {
  background-color: yellow;
  border-color: black;
  border-style: solid;
  position: relative;
}

.karinaWins {
  background-image:url('../img/karinaWins.gif');
  left: 400px;
  height: 400px;
  width: 400px;
  background-position: 50px 40px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  display: none;
  margin-top: 70px;
}

.StephWins {
  background: pink;
  background-image: url('../img/stephWins.gif');
  background-size:400px auto;
  left: 400px;
  height: 400px;
  width: 400px;
  background-position: 10px -0px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  display: none;
  margin-top: 70px;
}

.StephWins h1{
  font-family: 'Crafty Girls', cursive;
  color: white;
  text-align: center;
}

.KarinaWins h1{
  font-family:'Crafty Girls', cursive;
  color: pink;
  text-align: center;
}

.restart {
  position: relative;
  font-family:'Crafty Girls', cursive;
}

.instructions {
  font-family:'Crafty Girls', cursive;
  margin-left: 18em;
  margin-top: 12em;
  width: 50%;
}