<!DOCTYPE html>
<html lang="en">
<head>
  <link href='public/css/racer.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/racer.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/mousetrap.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/arena.js"></script>
  <script src="/js/karina.js"></script>
  <script src="/js/stef.js"></script>
  <script src="/js/game.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Crafty+Girls' rel='stylesheet' type='text/css'>
  <title>BOBABAE</title>
</head>

<body>
  <div class='boba'>
  </div>
  <div id="karina">
  </div>
  <div id="stef">
  </div>
  <div class="karinaWins">
   <h1> Karina Wins!~</h1>
  </div>
  <div class="StephWins">
    <h1> Steph Wins!~</h1>
  </div>
  <div class="restart">
    Restart!
  </div>
</body>
</html>
